<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid container-md">
    <a class="navbar-brand" href="#">
      <img src="/favicon.ico" alt="" />
    </a>
    <span class="text-muted">
      v0.2.0
    </span>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-sm-auto">
        <li class="nav-item mx-auto">
          <a
            routerLink="product-listing"
            routerLinkActive="active"
            class="nav-link"
            >Products</a
          >
        </li>
        <span
          class="d-none d-sm-block mx-sm-4 text-muted"
          [ngStyle]="{ borderLeft: '1px solid #d8dbdd' }"
        ></span>
        <li class="nav-item mr-sm-2 mx-auto">
          <a
            routerLink="shopping-cart"
            routerLinkActive="active"
            class="nav-link"
          >
            <fa-icon [icon]="faShoppingCart" size="1x"></fa-icon>
          </a>
        </li>
        <li class="nav-item mx-auto">
          <a
            routerLink="user-profile"
            routerLinkActive="active"
            class="nav-link"
          >
            <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
