<footer class="text-center bg-light">
  <div class="container-fluid container-md">
    <section class="row row-cols-2 row-cols-sm-5 pt-5 pb-3">
      <div
        class="col-12 col-md d-flex flex-column justify-content-center align-items-center"
      >
        <a href="#">
          <img class="d-block mb-2" src="/favicon.ico" />
        </a>
      </div>
      <div class="col">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">Blog</a>
          </li>
          <li>
            <a class="text-muted" href="#">Dark mode</a>
          </li>
          <li>
            <a class="text-muted" href="#">Shopping cart</a>
          </li>
          <li>
            <a class="text-muted" href="#">User account</a>
          </li>
          <li>
            <a class="text-muted" href="#">Full text search</a>
          </li>
          <li>
            <a class="text-muted" href="#">SEO</a>
          </li>
          <li>
            <a class="text-muted" href="#">Rating</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5>Services</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">Repairs</a>
          </li>

          <li>
            <a class="text-muted" href="#">Maintenance</a>
          </li>
          <li>
            <a class="text-muted" href="#">Retail</a>
          </li>
          <li>
            <a class="text-muted" href="#">Wholesale</a>
          </li>
          <li>
            <a class="text-muted" href="#">Discounts</a>
          </li>
          <li>
            <a class="text-muted" href="#">Clearance</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5>Careers</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" href="#">Hiring</a>
          </li>
          <li>
            <a class="text-muted" href="#">Contracts</a>
          </li>
          <li>
            <a class="text-muted" href="#">Internships</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div class="bg-dark">
    <div class="container-fluid container-md">
      <section class="row py-3">
        <div class="col">
          <small class="text-muted">
            &copy;2020
            <a href="#" class="text-secondary">
              Despair Technologies.
            </a>
          </small>
        </div>
      </section>
    </div>
  </div>
</footer>
