<table class="mt-5 table table-hover w-75 mx-auto text-center">
  <thead class="text-muted">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <!-- <th scope="col">Product Id</th> -->
      <!-- <th scope="col">Created</th>
      <th scope="col">Modified</th> -->
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody [formGroup]="cartForm" class="text-muted">
    <ng-container
      *ngFor="let quantity of quantityFormControls; let i = index"
      formArrayName="quantities"
    >
      <tr>
        <th class="align-middle" scope="row">{{ i + 1 }}</th>
        <td class="align-middle">
          <input
            #input
            autofocus
            [formControlName]="i"
            type="text"
            class="form-control text-center mx-auto text-muted"
            style="width: 10vw"
          />
        </td>
        <td class="align-middle">
          {{ products[i]?.price }}
        </td>
        <!-- <td class="align-middle">{{ cartItems[i].product_id }}</td> -->
        <!-- <td class="align-middle">{{ cartItems[i].created | date }}</td> -->
        <!-- <td class="align-middle">{{ cartItems[i].modified | date }}</td> -->
        <td class="align-middle">
          <fa-icon
            (click)="deleteRow(i)"
            [icon]="faTrashAlt"
            transform="grow-10"
            size=""
            style="color: #dc3545"
          ></fa-icon>
          <fa-icon
            [id]="'input-' + i"
            (click)="editRow(i)"
            [icon]="faEdit"
            transform="grow-10"
            size=""
            style="color: #007bff"
            class="ml-4"
          ></fa-icon>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

{{ cartItems | json }}
