<div
  [ngClass]="{ show: showModal }"
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
  style="padding-right: 16px; display: block"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header border-0">
        <h5 class="modal-title text-secondary" id="loginModalLabel">LOGIN</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="onClose()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="media">
          <div class="media-body">
            <!-- {{ error | json }} -->
            <!-- <hr /> -->
            <!-- {{ res | json }} -->
            <!-- <hr /> -->
            <!-- {{ currentUser | json }} -->
            <!-- <hr /> -->
            <form class="">
              <div class="form-group">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input
                  type="email"
                  id="inputEmail"
                  class="form-control"
                  placeholder="Email"
                  required
                  autofocus
                />
              </div>
              <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input
                  type="password"
                  id="inputPassword"
                  class="form-control"
                  placeholder="Password"
                  required
                />
              </div>
              <div class="form-group">
                <label for="rememberMe">
                  <input id="rememberMe" type="checkbox" value="remember-me" />
                  Remember me</label
                >
              </div>
              <button
                class="btn btn-lg btn-primary btn-block"
                type="submit"
                [disabled]="error"
                (click)="logIn()"
              >
                Sign in
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0">
        <!-- <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="onClose()"
        >
          Close
        </button> -->
        <!-- <button
          [disabled]="error"
          type="button"
          class="btn btn-primary"
          (click)="logIn()"
        >
          Login
        </button> -->
      </div>
    </div>
  </div>
</div>
