<div
  [ngClass]="{ show: showModal }"
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
  style="padding-right: 16px; display: block"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="loginModalLabel">product.name</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="onClose()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="media">
          <img
            src="/favicon.ico"
            width="150"
            height="100"
            class="align-self-center mr-3"
            alt="..."
          />
          <div class="media-body">
            {{ error | json }}
            <hr />
            {{ res | json }}
            <hr />
            {{ currentUser | json }}
            <hr />
          </div>
        </div>
      </div>
      <div class="modal-footer border-0">
        <!-- <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="onClose()"
        >
          Close
        </button> -->
        <button
          [disabled]="error"
          type="button"
          class="btn btn-primary"
          (click)="logIn()"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
