<app-modal
  #modalComponent
  *ngIf="product"
  [title]="product.name"
  [isLoading]="isLoading"
>
  <ng-container body>
    <div class="media">
      <img
        src="{{ product.image }}"
        width="150"
        height="100"
        class="align-self-center mr-3"
        alt="..."
      />
      <div class="media-body">
        <form [formGroup]="productForm" (ngSubmit)="addToCart()">
          <div class="input-group mb-3 w-50">
            <div class="input-group-prepend">
              <button
                [disabled]="!productForm.valid"
                (click)="changeQuantity('minus', $event)"
                class="input-group-text"
              >
                <fa-icon
                  [icon]="faMinus"
                  class="text-secondary"
                  size="1x"
                ></fa-icon>
              </button>
            </div>
            <input
              autocomplete="off"
              formControlName="quantity"
              type="number"
              class="form-control text-center"
              placeholder=""
              aria-label="Quantity input"
              aria-describedby="basic-addon1"
              id="quantityInput"
            />
            <div class="input-group-append">
              <button
                (click)="changeQuantity('plus', $event)"
                class="input-group-text"
              >
                <fa-icon
                  [icon]="faPlus"
                  class="text-secondary"
                  size="1x"
                ></fa-icon>
              </button>
            </div>
          </div>
          <button
            [disabled]="!productForm.valid"
            type="submit"
            class="btn btn-primary"
          >
            Add to Cart
          </button>
          <span style="user-select: none" class="text-muted">
            Total: GHS {{ totalAmount }}
          </span>
        </form>
      </div>
    </div>
  </ng-container>
  <ng-container footer></ng-container>
</app-modal>
