<ul
  class="py-3 list-unstyled row row-cols-2 row-cols-sm-4 row-cols-md-4 row-cols-lg-6"
>
  <li *ngFor="let product of products" class="col mb-4">
    <div class="card h-100 border-0">
      <div class="overlay-wrapper">
        <div class="overlay-layer"></div>
        <div class="overlay-content">
          <fa-icon
            class="card-icon mr-1 text-white"
            [icon]="faCartPlus"
          ></fa-icon>
          <fa-icon class="card-icon ml-1 text-white" [icon]="faHeart"></fa-icon>
        </div>
        <img src="{{ product.imageUrl }}" class="card-img-top" alt="..." />
      </div>
      <div class="card-body px-0">
        <h5 class="card-title text-muted">{{ product.name }}</h5>
        <p class="card-text text-muted">
          This is a longer card with supporting text.
        </p>
        <p class="card-text pr-2 d-flex justify-content-between">
          <span class="text-muted"> GHS {{ product.price }} </span>
          <fa-icon
            class="text-muted card-icon "
            [icon]="faCartPlus"
          ></fa-icon>
        </p>
      </div>
    </div>
  </li>
</ul>
