<ul
  class="py-3 list-unstyled row row-cols-2 row-cols-sm-4 row-cols-md-4 row-cols-lg-6"
>
  <li *ngFor="let product of products" class="col mb-4">
    <div class="card h-100 border-0">
      <img src="{{ product.imageUrl }}" class="card-img-top" alt="..." />
      <div class="card-body px-0">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">
          This is a longer card with supporting text.
        </p>
        <p class="card-text">GHS {{ product.price }}</p>
      </div>
    </div>
  </li>
</ul>
