<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
  style="padding-right: 16px; display: block"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header border-0">
        <h5 class="modal-title text-secondary" id="loginModalLabel">
          {{ title }}
        </h5>
        <button
          *ngIf="!isLoading"
          type="button"
          class="close"
          (click)="onClose()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="!isLoading; else spinnerTemplate">
          <ng-content select="[body]"></ng-content>
        </ng-container>
      </div>
      <div class="modal-footer border-0">
        <div class="h-100">
          <ng-content select="[footer]"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #spinnerTemplate>
  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="d-inline-block h2 pb-4 text-muted">Please wait...</div>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
