$enable-rounded: false;
$modal-show-transform: scale(1);
$modal-fade-transform: scale(0.5);
$enable-responsive-font-sizes: true;
$enable-deprecation-messages: true;
$enable-gradients: true;
$enable-shadows: true;
$spacer: 1rem;
